.userContainer {
  h1 {
    color: #213f7d;
    font-size: 2.4rem;
    font-weight: 500;
    margin: 0;
  }
  .search {
    display: none;
    justify-content: center;
    margin-bottom: 2rem;
  }
  .search button {
    translate: 100% - 0%;
  }
}

@media screen and (max-width: 960px) {
  .userContainer {
    .search {
      display: flex;
    }
    .search input {
      width: 22rem;
    }
  }
}
//users-page style
