.user-card {
  background-color: #ffffff;
  box-shadow: 3px 5px 20px 0px #0000000a;
  padding: 2rem 1rem 2rem 3rem;
  border-radius: 4px;
  .card-details {
    h3 {
      color: #545f7d;
      font-size: 1.4rem;
      font-weight: 500;
      margin: 1.4rem 0 0 0;
    }
    p {
      color: #213f7d;
      font-size: 2.4rem;
      font-weight: 600;
      margin: 1.2rem 0 1rem 0;
    }
  }
}

@media screen and (max-width: 600px) {
  .user-card {
    padding: 2rem 1rem 2rem 1rem;
  }
}
