.userPageCards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2.6rem;
  margin-top: 4rem;
}

@media screen and (max-width: 999px) {
  .userPageCards {
    grid-template-columns: repeat(2, 1fr);
  }
}
